$back-to-top-button-shadow-black: rgba(0, 0, 0, 0.2);
$brushed-aluminum-background-image: url("../images/brushed-alum.png");
$dark-grey-border-color: #545149;
$dark-teal-background-color: #33817E;
$light-purple-shadow: #8593C3;
$light-teal-background-color: #40A19E;
$lighter-purple: #C8CAE2;
$mustard-yellow: #B8860B;
$offwhite-background-color: #f4f1ec;
$purple: #4056A1;
$tomato-background-color: tomato;
$warning-error-red: #F03C1E;
$white-text-color: #FFFFFF;
$write-new-button-box-shadow-purple: #334581;

@mixin align-vertically {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin body-font {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 24px;
}

@mixin button-and-counter-font {
  font-family: 'Bungee', cursive;
  margin: 5px;
}

@mixin nav-logo-font {
  font-family: 'Bungee', cursive;
  font-size: 40px;
}

@mixin new-tweet-font {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

@mixin tweet-header-font {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 28px;
}

@mixin write-new-button-font {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 26px;
}