@import "brand";

.user-details {
  width: 100%;
}

.top-header {
  align-items: center;
  background-color: $light-teal-background-color;
  background-image: $brushed-aluminum-background-image;
  color: $white-text-color;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 100%;
}

.user-name {
  margin: 0;
}

.last-name {
  font-weight: lighter;
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  .user-details {
    margin: 0px 40px;
    width: 40%;
  }
}