@import "brand";

nav {
  align-items: center;
  color: $white-text-color;
  display: flex;
  height: 120px;
  justify-content: space-between;
  top: 0;
  width: 100vw;
}

nav .logo {
  @include nav-logo-font;
  padding: 1.5em;
}

nav .write {
  font-weight: bold;
}

nav .write-new {
  background-color: $light-teal-background-color;
  border-radius: 30px;
  box-shadow: 0 4px 12px -2px $write-new-button-box-shadow-purple;
  margin: 0px 40px;
  padding: 20px;
  @include write-new-button-font;
}

button.write-new {
  transition: all 0.03s linear;
}

button.write-new:hover {
  background-color: $dark-teal-background-color;
  cursor: pointer;
}

button.write-new:active {
  box-shadow: 0 0 6px $light-purple-shadow;
  transform: translateY(2px);
}

nav i {
  color: $purple;
  padding-left: 0.4em;
}

/* Tablet Styles  */
@media only screen and (min-width: 768px) {
  nav {
    background-color: $light-teal-background-color;
    background-image: $brushed-aluminum-background-image;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: $purple;
    background-image: none;
    position: fixed;
  }
}