 /* CSS properties are ordered alphabetically for convenience */

 .user-details {
  width: 100%; 
}

 .top-header {
   align-items: center;
   background-color: #40A19E;
   background-image: url("../images/brushed-alum.png"); 
   color: #FFFFFF;
   display: flex;
   flex-direction: column;
   height: 400px;
   justify-content: center;
   width: 100%;
 }

 .user-name {
   margin: 0;
 }

 .last-name {
   font-weight: lighter;
 }

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  .user-details {
    margin: 10px 100px;
    width: 40%; 
  }
}