.user-details {
  width: 100%;
}

.top-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #40A19E;
  background-image: url("../images/brushed-alum.png");
  color: #FFFFFF;
  height: 400px;
  width: 100%;
}

.user-name {
  margin: 0;
}

.last-name {
  font-weight: lighter;
}

/* Smartphone Styles */
@media only screen and (min-width: 320px) and (max-width: 420px) {
  .top-header {
    display: none;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 1024px) {
  .user-details {
    margin: 0px 40px;
    width: 40%;
  }
}
